# WordPress Core
# wp-admin dan wp-includes TIDAK di-exclude
/wp-*.php
/xmlrpc.php
/index.php
/license.txt
/readme.html

# Config & environment
wp-config.php
.env
.env.local

# Uploads (biasanya tidak perlu di-commit)


# Plugins (biasanya tidak perlu di-commit)


# Cache
/wp-content/cache/
/wp-content/upgrade/
/wp-content/backup-db/
/wp-content/backups/
/wp-content/blogs.dir/

# Plugins & themes pihak ketiga
# /wp-content/plugins/
# /wp-content/themes/*
# !/wp-content/themes/nama-tema-custom/

# Node & build tools
node_modules/
vendor/
.DS_Store

# Log & debug
*.log
debug.log
error_log

# IDE / editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
Thumbs.db